<h1>Change banner color with button</h1>

<div [ngClass]="dalert" class="alert" role="alert">
    This banner will change!
</div>

<button type="button" class="btn btn-info" (click)="dalert = 'alert-info'">Info</button>
<button type="button" class="btn btn-success" (click)="dalert = 'alert-success'">Success</button>

<br><br>
<hr>

<h1>Change letter color with button</h1>

<h3 [ngClass]="{ 'text-danger': settings.danger, 'text-info': !settings.danger }">
    This text will change!
</h3>

<button (click)="settings.danger = !settings.danger" type="button" name="button" class="btn" [ngClass]="{ 'btn-danger': settings.danger, 'btn-info':!settings.danger}">
    Change
</button>

<br>
<hr>

<h1>Asynchronous process</h1>

<button (click)="start()" class="btn btn-primary" type="button" name="button" [disabled]="loading">
    <i [ngClass]="{'fa-save':!loading, 'fa-sync fa-spin':loading }"
        class="fa"></i>
    <span *ngIf="!loading"> Save changes</span>
    <span *ngIf="loading"> Saving...</span>
</button>
<br>